*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 200vh;
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}
.nav .search-container {
    float: left;
    width: 200px;
  }
#szukajka {
    width: 80%;
    font-size: 16px;
}
.nav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } 
.nav .search-container button:hover {
    background: #ccc;
  }
nav {
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkblue;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 14px;
    background: lightyellow;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}
.btn:hover {
    border: 1px solid yellow;
    background: yellow;
    transition: 0.5s;
}
.reserve-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 14px;
    background: lightseagreen;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 15px;
}
.reserve-btn:hover {
    border: 1px solid seagreen;
    background: seagreen;
    transition: 0.5s;
}
.produkty {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: auto;
}
.produkty tr{
    width: 100%;
}
.produkty td {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 10px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}
.shop-photo {
    width: 350px;
    height: auto;
    margin-bottom: auto;
    aspect-ratio: 3/1;
    object-fit: contain;
    display: inline-block;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.opis {
    width: 500px;
}
.about {
    margin-top: 100px;
    color: white;
    text-align: center;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 8px;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 20px;
}
.about-btn {
    border: 1px solid lightcoral;
    background: transparent;
    color: lightcoral;
}
.about-btn:hover {
    color: lightpink;
}
.ankieta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(34,47,99,0.5),rgba(34, 47, 99, 0.5)), url(zdjęcia/ankieta.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ankieta h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.ankieta-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 14px;
    background: rgba(90, 101, 144, 0.4);
    position: relative;
    cursor: pointer;
}
.ankieta-btn:hover {
    border: 1px solid black;
    background: white;
    transition: 0.7s;
}
/*--------------formularze--------------*/
.contact-box {
    margin: auto;
    padding: 0;
    margin-top: 2%;
}
input[name="nazwa_użytkownika"], input[name="haslo"], input[name="e-mail"], input[name="discount_code"], input[name="telefon"], select[name="wybierz_produkt"], input[name="początek_rezerwacji"], input[name="koniec_rezerwacji"], input[name="imie"], input[name="nazwisko"], input[name="adres"], input[name="miasto"], input[name="kod-pocztowy"] {
    width: 50%;
    padding: 10px 0;
    margin: 20px 25%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
input[name="temat"], input[name="wiadomość"], input[name="email"] {
    width: 60%;
    padding: 10px 0;
    margin: 20px 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.contact-box h3 {
    text-align: center;
}
.contact-box h2{
    margin-left: 30%;
}
.form-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    padding: 12px 34px;
    font-size: 14px;
    background: blue;
    border-radius: 10px;
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
    cursor: pointer;
    width: 20%;
}
.form-btn:hover {
    border: 1px solid darkblue;
    background: darkblue;
    color: black;
    transition: 0.6s;
}
.contact-box p{
    text-align: center;
    padding: 20px;
}
.row {
    width: 80%;
    height: auto;
    border: 1px dotted lightgrey;
    text-align: center;
    margin: auto;
}
.row h3 {
    font-size: 30px;
    margin-top: 30px;
}
.col {
    width: 100%;
    justify-content: space-around;
    padding: 100px 0;
    display: block;
}
#elem {
    margin: 0 50px;
    border-radius: 10px;
    border: none;
    width: 15%;
}
.panel-btn {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border: 1px solid grey;
    padding: 12px 34px;
    font-size: 14px;
    background: grey;
    position: relative;
    cursor: pointer;
}
.panel-btn:hover {
    border: 1px solid darkgrey;
    background: darkgrey;
    transition: 0.5s;
}
.zamowienia {
    width: 10%;
    display: flex;
    margin-left: 10%;
    border: 1px solid black;
    margin-top: 5%;
    justify-content: space-between;
}
.zamowienia td {
    color: black;
    text-align: center;
    font-weight: 400;
    border: 1px solid black;
    background-color: lightblue;
}
th {
    border-right:1px dotted black;
}
.info {
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-top: -9%;
}
.panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    padding: 12px 34px;
    font-size: 14px;
    background: blue;
    border-radius: 10px;
    position: relative;
    margin-left: 20%;
    margin-right: 30%;
    cursor: pointer;
    width: 30%;
}
.contact-btn:hover {
    border: 1px solid darkblue;
    background: darkblue;
    color: black;
    transition: 0.6s;
}
.powrot {
    position: fixed;
    top: 75%;
    left: 75%;
    display: block;
}
.back {
    top: 90%;
    left: 0%;
    position: fixed;
    display: block;
}
.powrot a, .back a {
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    padding: 12px 34px;
    font-size: 14px;
    background: blue;
    cursor: pointer;
    border-radius: 8px;
}
.powrot a:hover , .back a:hover {
    border: 1px solid darkblue;
    background: darkblue;
    color: black;
    transition: 0.6s;
}
/*-----------filtry---------------*/
#product-filter {
    margin-top: 5%;
}
#filter-x {
    text-decoration: none;
    color: black;
}
#filter-x:hover {
    color: white;
    transition: 0.6s;
}
#product-filter table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
  }
  
  #product-filter th, #product-filter td {
    padding: 10px;
    border: 1px solid black;
  }
  
  #product-filter th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  #price-range {
    width: 60%;
  }
  
#price-range-output {
    font-weight: bold;
  }
input[value="Filtruj"] {
    width: 20%;
}
input[name="search"] {
    width: 60%;
}
/*-----------zamowienia---------------*/
#order_h2 {
    text-align: center;
    margin-top: 2%;
}

#order-table {
width: 80%;
margin: 5% auto;
border-collapse: collapse;
}

#order-table th, td {
border: 1px solid black;
padding: 10px;
background-color: white;
}

#order-table th {
text-align: left;
background-color: #f2f2f2;
}

.view-btn, .complain-btn, .cancel-btn {
background-color: blue;
border: 1px solid blue;
color: white;
padding: 8px 14px;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
margin-right: 20px;
}

.complain-btn {
background-color: orange;
border: 1px solid orange;
}

.cancel-btn {
background-color: red;
border: 1px solid red;
}

.view-btn:hover {
    border: 1px solid darkblue;
    background: darkblue;
    color: white;
    transition: 0.6s;
}

.complain-btn:hover {
    border: 1px solid darkorange;
    background: darkorange;
    color: white;
    transition: 0.6s;
}

.cancel-btn:hover {
    border: 1px solid darkred;
    background: darkred;
    color: white;
    transition: 0.6s;
}
/*----------------o_nas--------------*/
.row {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}  
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
    border: 1px solid blue;
    border-radius: 8px;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 20px;
    text-align: center;
}
.about-btn {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.about-btn:hover {
    color: white;
    border: 1px solid blue;
    background: blue;
    transition: 0.6s;

}
#about-uss {
    min-height: 60vh;
}
#filtr-btn {
    position: fixed;
    left: 90%;
    top: -6%;
}
#filtr2-btn {
    position: fixed;
    left: 80%;
    top: -5%;
}
.filter-btn {
    display: flex;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}
.filter-btn:hover {
    border: 1px solid blue;
    background: blue;
    color: white;
    transition: 0.5s;
}
#checkout_sum {
    text-align: center;
}
#promo_code {
    text-align: center;
}
#checkout_anchor {
    text-decoration: none;
    color: white;
}
.checkout-buttons {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
    

}
.view-btn2 {
    background-color: blue;
    border: 1px solid blue;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    position: fixed;
    top: 85%;
    left: 85%;
}
.view-btn2:hover, .order-btn:hover {
    border: 1px solid darkblue;
    background: darkblue;
    color: white;
    transition: 0.6s;
}
#koszyk_b {
    min-height: 110vh;
}
.checkout_method {
    padding: 10px 10px;
    justify-content: space-around;
}
.order-btn{
    background-color: blue;
    border: 1px solid blue;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 15%;
}
.reservation-box {
    margin-top: 5%;
    padding: 20px 20px;
}
.koszyk_t {
    margin-top: 5%;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
}
.koszyk_t td {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 250px;
    background-color: lightblue;
    border: 1px solid black;
}
.koszyk_t th {
    border-right:1px dotted black;
}
.back-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 6px;
    background: transparent;
    position: fixed;
    top: 70%;
    left: 80%;
    cursor: pointer;
}
.back-btn:hover {
    border: 1px solid red;
    background: red;
    color: white;
    transition: 0.5s;
}
#shop_title {
    font-size: 20px;
    font-weight: 500 bold;
    text-align: center;
}
#total_amount {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
#orders{
    text-align: center;
}
#order {
    background-color: lightblue;
}